extends base.pug

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls    
            span.videoControls__play
                i#play.fas.fa-play
            span.videoControls__volume
                i#mute.fas.fa-volume-down.fa-lg
                input(type="range" step="0.1" value="0.8" min="0", max="1")#volume
            div.videoControls__time 
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
            input(type="range" step="1" value="0" min="0")#timeline.videoControls__timeline 
            span.videoControls__full
                i#fullScreenBtn.fas.fa-expand
    div.watch__info
        span.watch__title=video.title
        p.watch__description=video.description
        small Uploaded by 
            a(href=`/users/${video.owner._id}`) #{video.owner.name} • 
        small=video.createdAt
    if String(video.owner._id) === String(loggedInUser._id)
        div
            a(href=`${video.id}/edit`) 편집하기 &rarr;
            br
            a(href=`${video.id}/delete`) 삭제하기 &rarr;
    
block scripts   
    script(src="/assets/js/videoPlayer.js")