extends base.pug

block content
    div#videoContainer(data-videoid=video._id)
        if(isHeroku)
            video(src=video.fileUrl)
        else 
            video(src="/" + video.fileUrl)
        div#videoControls.videoControls    
            input(type="range" step="1" value="0" min="0")#timeline.videoControls__timeline 
            div.videoControls-bottom
                div.videoControls-left
                    span.videoControls__play
                        i#play.fas.fa-pause
                    div.videoControls__volume
                        i#mute.fas.fa-volume-down.fa-lg
                        input(type="range" step="0.1" value="0.8" min="0", max="1")#volume
                    div.videoControls__time 
                        span#currentTime 00:00
                        span  / 
                        span#totalTime 00:00
                span.videoControls__full
                    i#fullScreenBtn.fas.fa-expand
    if String(video.owner._id) === String(loggedInUser._id)
        div.video__edit
                a(href=`${video.id}/edit`) 편집하기 &rarr;
                a(href=`${video.id}/delete`) 삭제하기 &rarr;
    div.video__info
        span.video__title=video.title
        p.video__description=video.description
        small Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.username
        small  • #{video.createdAt}
    
    if loggedInUser
        div.video__add-comments 
            form.video__comment-form#commentForm
                textarea(row="1" style="width:100%;", placeholder="여기에 댓글을 달아주세요.")
                button 등록
    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-avatar=comment.owner.avatarUrl, data-commentid=comment._id)  
                    a(href=`/users/${comment.owner._id}`).a__img
                        if (isHeroku)
                            img(src=comment.owner.avatarUrl)
                        else 
                            img(src="/" + comment.owner.avatarUrl)
                    div.comment__info
                        a(href=`/users/${comment.owner._id}`)
                            span.comment__name=comment.owner.username
                        span.comment__text=comment.text
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span.comment__delete#commentDelete 삭제
                            span.comment__edit#commentEdit 수정

    
block scripts   
    script(src="/assets/js/videoPlayer.js")
    if loggedIn
        script(src="/assets/js/commentSection.js")